## Copyright (C) 2026 - 2026 ENCRYPTED SUPPORT LLC <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

## Debugging mechanism for use in CI. Inert by default.

## Cope with "set -o nounset".
: "${GRUB_CMDLINE_LINUX_DEFAULT:=""}" || echo "$0: Setting default GRUB_CMDLINE_LINUX_DEFAULT failed! Please report this bug!" >&2

if [ "${GRUB_ENABLE_DM_SMBIOS_READER:-}" = "true" ]; then
   export GRUB_ENABLE_DM_SMBIOS_READER
   GRUB_CMDLINE_LINUX_DEFAULT="$GRUB_CMDLINE_LINUX_DEFAULT \${dm_smbios_extra}"
fi
